// Color
$primary: #30ace2;
$blue: #024de3;
$danger: #ff3838;
$dark: #231f20;
$success :#00c753;
$silver: #e5e5e5;
$warning: #ffb800;
$menu-border: #024de3;
$logo: #fff;
$shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
$container: #F3F4F8;
$label: #024de3;
$border: #d4d4d4;
$text: #989898;
$border-radius: 5px;
//Sidebar
$sidebar: #0b2640;
$header-sidebar: #ffae60;
$header-sidebar-text: #fff;
$menu: #666; //#fff;
$menu-active: #30ace2;
$menu-text-active: #30ace2;
// Header
$header: #fff;
$header-title: #2e4765;
$header-text: #333;
$header-tab: #231f20;
$header-tab-active: #024de3;
// Form
$form-header: linear-gradient(135deg, rgba(105, 0, 199, 0.8) 0%, #0061f2 100%);
$form-shadow: 0px 3px 8px -3px rgb(0 0 0 / 20%);
$scroll:#024de3;
$btn: ('create':#024de3, 'edit':#024de3, 'delete':#ff3838, 'save':#00c753);
// Login
$login-bg: #F3F4F8;
$form-radius: 5px;
$input-background: #F5F5F5;
$input-radius: 5px;
$button-radius: 5px;
$form-label :#989898;

$toast-radius       : 8px;
$toast-small-radius : 50px;
$primary-color      : #6967ce;
$success-color      : #3ae880;
$danger-color       : #fd6368;
$warning-color      : #ffb900;
$info-color         : #19afd0;